:root{
    --violet: #201f31;
    --pink: #ffbade;
    --grey: #2b2a3b;
    font-family: 'Poppins', 'Arial';
}
*{
   box-sizing: border-box;
   color: hsla(0, 0%, 100%, 0.918);
   padding: 0;
   margin: 0;
   font-family: 'Poppins', 'Arial';
}
body{
    background-color: var(--violet);
    height: 100vh;
}
header{
    margin: 12px 12px; 
   
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    cursor: pointer;
    margin-bottom: 20px;
}
@media screen and (max-width: 600px) {
    nav{
        display: none;
    }
    .card-img{
        display: none;
    }
}
@media screen and (max-width: 768px) {
   
    .card-img{
        display: none;
    }
}
nav a{
    text-decoration: none;
}
nav a:hover{
    color: var(--pink);
    transition: 0.7s;
    cursor: pointer;
}

.card{
    width: 100%;
    max-width: 1200px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    background-color: var(--grey);
    
}

.container-card{
   display: flex;
   align-items: center;
   justify-content: center;
}
.logo{
    width: 170px;
}
.card-img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    opacity: 0.4;
}


.grey-box{
    width: 100%;
    height: 100%;
    padding: 4em;
}
.grey-box p{
    font-size: 14px;
    line-height: 1.50em;
    
}
.grey-box div, button, img{
    margin-bottom: 20px;
}

.search-btn{
    display: flex;
     gap: 1em;
     width: 100%;
     cursor: pointer;
}
.search-btn input{
    padding: 20px;
    height: 50px;
    border-radius: 10px;
    width: 400px;
    font-size: 1em;
    outline: none;
    border: 0.5px solid black ;
    
    
}
.search-btn input:focus{
    border: 0.5px solid rgb(52, 54, 204) ;
}
.search-img{
    background-color: var(--pink);
    border-radius: 10px;
    font-size: 1.3em;
    padding: 15px 16px 11px 16px;
    color: black;
    
  
}
.anime-btn{

    color: hsla(0, 0%, 0%, 0.856);
    background-color: var(--pink);
    font-size: 20px;
    font-weight: 600;
    width: 250px;
    height: 60px;
    border-radius: 20px;
    outline: none;
    border: none;
    cursor: pointer;
}
.anime-btn i{
    padding: 5px;
    font-size: 0.7em;
    margin-left: 20px;
    background-color: hsla(0, 0%, 0%, 0.836);
    border-radius: 20px;
    aspect-ratio: 1/1;
}

  /* BELOW HEAADER TAG*/
  .container-Hianime{
    width: 100%;
    max-width: 1200px;
    display: flex;
    margin: auto;
  }
  .below-header{
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
  .share-anime{
    font-weight: 600;
    color: var(--pink);
    font-size: 13px;
  }
  .friend{
    font-size: 12px;
  }

  /* MAIN SECTION */
  main{
    width: 100%;
    max-width: 1200px;
    display: flex;
    margin: auto;
    padding: 20px;
    gap: 2em;
  }
  .content-box1{
    width: 80%;
}
  .content-box2{
    width: 50%;

  }
  @media screen and (max-width: 988px) {
   main{
    display: grid;
    width: 100%;
   }
    .content-box2,  .content-box1{
    width: 100%;
   }
   .main-box{
    width: 100%;
   }

}
.main-box{

    background-color: var(--grey);
    border-radius: 20px;
    font-size: 12px;
    display: grid;
    justify-content: space-between;
    border: 0.5px solid var(--pink);
    gap: 1.5em;
    padding: 17px;
}

.content-box1{
    font-size: 13.5px;
    width: 100%;
    margin-bottom: 10px;
}
.content-box1 p {
    margin-bottom: 10px;
    font-size: 13.5px;
}
.title-box1{
    font-size: 1.7em;
    margin-bottom: 10px;
   
}
.content-box1 ul li{
    margin-left: 20px;
    margin-bottom: 10px;
}
.header-box2{
    display: flex;
    justify-content: space-between;
}
.content-box2 h1{
    margin-bottom: 20px;
    font-size: 1.5em;
}
.header-box2-right{
    gap: 0.5em;
    display: flex;
}
.header-box2-left{
    display: flex;
    gap: 1em;

}
.box2-content h1{
 font-size: 1.5em;
 margin-bottom: 5px;

}
.box2-footer{
    display: flex;
    gap: 1em;

}
.box2-footer img{
    width: 30px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin: 0;
}
.box2-footer .level-logo{
    width: 20px;
    padding: 2px;
    height: 20px;
    margin-top: 5px;
    border-radius: 50%;
    
}
.box2-footer p{
    display: flex;
    align-items: center;
}
.box22{
    margin-bottom: 10px;
}
.readmore{
    text-align: center;
    border: 1px solid var(--pink);
    border-radius: 20px;
    margin-top: 20px;
    font-size: 12px;
    padding: 5px;
    cursor: pointer;
}


footer{
    width: 100%;
    max-width: 1200px;
    display: flex;
    margin: auto;
    margin-top: 40px;
    font-size: 11px;
   
  }
  .footerend{
    display: grid;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}